<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Dashboard</title>
    <style>
        .aa{
            background: radial-gradient(circle,white, #7e89e2);
               
            height: 100vh;
        }
        .aj{
            margin-top: 60px;
            background:radial-gradient(ellipse,white,#7e89e2);
        }
        .jk{
            background:radial-gradient(ellipse,white,#7e89e2);
        }
        .h5 {
            display: inline-block;
        }
    </style>
</head>
<body class="aa">
    
    <div class="container-fluid h-100 ">

        <div class="row mb-3  ">

            <div class="col-12">

                <nav class="navbar navbar-expand-lg jk">

                    <div class="container-fluid jk ">
        
                        <a class="navbar-brand" href="#">

                            <img src="{{url_for('static',filename=user.image)}}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                            Sponsor : {{user.company_name}}</a>
                        </a>

                         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">

                            <ul class="navbar-nav">

                                <li class="nav-item">
                                    <a class="nav-link"  href="#">Profile</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Campaign</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Statistics</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Find</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link " href="#">Logout</a>
                                </li>

                            </ul>

                        </div>

                    </div>

                </nav>
             

            </div>

        </div>

        <div class="row mb-3">

            <div class="col">
                <figure class="figure">
                    <img src="{{ url_for('static',filename=campaign.image)}}" class="figure-img  rounded" alt="campaign.title " width="200px" height="200px">
                    <figcaption class="figure-caption">{{campaign.title}}</figcaption>
                  </figure>
            </div>
        
        </div>

        
        <div class="row border border-5 mb-3">
            <div class="container-fluid bg-white h-100">

                <div class="row align-items-center">
                    <div class="col">
                        <p class="h4">Title : {{campaign.title}}</p>
                    </div>

                    <div class="col">
                        <p class="h4 ">Requirement : {{campaign.requiremnt}}</p>
                    </div>

                </div>

                <div class="row align-items-center mt-3">
                    <div class="col">
                        <p class="h4 ">Start Time : {{campaign.start}}</p>
                    </div>

                    <div class="col">
                        <p class="h4 ">End Time : {{campaign.end}}</p>
                    </div>

                </div>

                <div class="row align-items-center mt-3">
                    <div class="col">
                        <p class="h4">Niche : {{campaign.niche}}</p>
                    </div>

                    <div class="col">
                        <p class="h4">Visibility : {{campaign.visibility}}</p>
                        
                    </div>

                </div>

                <div class="row align-items-center mt-3">
                    <div class="col">
                        <a href="/addcampaign">
                            <button type="button" class="btn btn-dark">Update Campaign</button>
                        </a>
                    </div>

                    <div class="col">
                        <p class="h4">Influencer :
                            {% if influencer%} 
                                {{influencer.influencer_id}}
                            {% else %}
                            <a href="/find">
                                <button type="button" class="btn btn-dark">Find Influencer</button>
                            </a>

                        </p>
                        

                       
                    </div>

                </div>


            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
    
